BOT_TOKEN=8849048989:AAGFujqhsY6A0kGZiR1OlnoM7AeZoB7tG7g
TELEGRAM_CHAT_ID=@farshikistore

SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=farsh.prod@internet.ru
SMTP_PASS=7Drencher-geraN-rampada5
MAIL_FROM=FARSHIKI <farsh.prod@internet.ru>
MAIL_REPLY_TO=farsh.prod@internet.ru